Fabric/ExecuteNotebook.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Execute Notebook",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "SelectNotebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": {
            "value": "@activity('SelectNotebook').output.Value[0].id",
            "type": "Expression"
          },
          "workspaceId": {
            "value": "@pipeline().DataFactory",
            "type": "Expression"
          },
          "sessionTag": "SharedSession"
        }
      },
      {
        "name": "GetNotebookMetadata",
        "type": "WebActivity",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "method": "GET",
          "headers": {},
          "relativeUrl": {
            "value": "@concat('/workspaces/',pipeline().DataFactory,'/items?type=Notebook')",
            "type": "Expression"
          }
        },
        "externalReferences": {
          "connection": "0ec35e66-65c5-48b5-a264-6549e7abc951"
        }
      },
      {
        "name": "SelectNotebook",
        "type": "Filter",
        "dependsOn": [
          {
            "activity": "GetNotebookMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('GetNotebookMetadata').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item()['displayName'],pipeline().parameters.NotebookName)",
            "type": "Expression"
          }
        }
      }
    ],
    "parameters": {
      "NotebookName": {
        "type": "string"
      }
    }
  }
}